//-footer ou signature
mj-section(background-color="#ffffff" padding="20px")
        mj-column
            mj-image(width="150px" src="" alt="logo supveto") 
            mj-text(align="center" padding-top="0" padding-bottom="0" mj-class="-1T") 17 rue des Ursulines
            mj-text(align="center" padding-top="0" padding-bottom="0" mj-class="-1T") 59200 tourcoing
            mj-text(align="center" padding-top="0" padding-bottom="0" mj-class="-1T") 0320700606
            mj-text(align="center" padding-top="0" padding-bottom="0" mj-class="-1T") contact@supveto.com
            mj-social(mode="horizontal")
                mj-social-element
                mj-social-element
