//- Header
mj-section(background-color="#ffffff" padding="0")
    mj-column
        mj-image(padding="0" border="none" width="600px" src="https://i.ibb.co/ZWbb3Np/frontpage.png" alt="chat et chien habillés en père Noël sur fond vert d'étoiles des neiges")
mj-section(background-color="#ffffff" padding="0 20px")
    mj-column
        mj-text(align='center' padding-top="0" padding-bottom="0" text-transform="uppercase") cartes cadeaux
        mj-text(align='center' padding-top="0" padding-bottom="0" text-transform="uppercase") à gagner
    mj-column
        mj-text(align='center' padding-top="0" padding-bottom="0" text-transform="uppercase") à envoyer
        mj-text(align='center' padding-top="0" padding-bottom="0" text-transform="uppercase") avant le 05 janvier
mj-section(background-color="#ffffff" padding="0 20px")
    mj-column
        mj-text(align="center" padding-top="0") Jeu Concours
        mj-text(align="center") Photo de Noel
        mj-text(align="center") 2024
            img(src="", alt="") 
    
    
    
    
    
