mjml
    //- Head
    mj-head
        mj-title Lettre Assurance Étudiant Octobre 2024
        mj-raw.
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='Arial, Helvetica, sans-serif')/
            mj-class(name='0T' font-size="16px" line-height="20px" font-weight="400")/
            mj-class(name='-1T' font-size="12px" line-height="16px" font-weight="400")/
        mj-breakpoint(width='480px')
    //- Body
    mj-body(background-color='#fcfcfc')
        //- Header
        block header
            include ../includes/_header
        //- Content
        block content
        //- footer Post
        block footer
            include ../includes/_footer
        //- Farandole
        block farandole
            include ../includes/_farandole
        //- Dossier
            block article_1
            include ../includes/_article1
        //- Article_1
            block article_2
            include ../includes/_article2
        //- SMA
            block sma
            include ../includes/_sma
        //- BNI
            block bni
            include ../includes/_bni
        //- Agenda BNI
            block agendabni
            include ../includes/_agendabni
        //- Agenda
            block agenda
            include ../includes/_agenda
        //- partenaires
            block partenaires
            include ../includes/_partenaires