mjml
    //- Head
    mj-head
        mj-title Lettre Assurance Étudiant Octobre 2024
        mj-raw.
            <meta name='color-scheme' content='light'/>
            <meta name='supported-color-schemes' content='light'/>
            <meta name="format-detection" content="telephone=no"/>
            <meta name="format-detection" content="date=no"/>
            <meta name="format-detection" content="address=no"/>
            <meta name="format-detection" content="email=no"/>
        mj-attributes
            mj-all(font-family='Arial, Helvetica, sans-serif')/
            //-Police Font
            mj-class(name='0T' font-size="16px" line-height="20px" font-weight="400")/
            mj-class(name='-1T' font-size="12px" line-height="16px" font-weight="400")/
            mj-class(name='-2T' font-size="10px" line-height="14px" font-weight="400")/
            //-color
            mj-class(name="cR" color="#c1272d")
        mj-breakpoint(width='480px')
    //- Body
    mj-body(background-color='#fcfcfc')
        //- Header
        block header
            include ../includes/_header
        //- Content
        block content
        //- footer Post
        block footer
            include ../includes/_footer
        //- Farandole
        block farandole
            include ../includes/_farandole
        //- Dossier
            block article_1
            include ../includes/_article1
        mj-section
            mj-column
                mj-text(align="center" padding-top="0" padding-bottom="0" mj-class="-2T") Si tu ne parviens pas à lire cet e-mail, clique ici
                mj-text(align="center" padding-top="0" padding-bottom="0" mj-class="-2T") Cet email a été envoyé à {{contact.EMAIL}}, tu l'as reçu car tu suis la formation SUPVETO.
                mj-text(align="center" padding-top="0" padding-bottom="0" mj-class="-2T") Se désinscrire
                mj-text(align="center" mj-class="-2T") ©2024 supveto