extends templates/_layout
block header
    //- Header Logo + réseaux sociaux
    mj-section(background-color='#EDF2F7' padding-bottom='0')
        mj-group(width='92%') 
            mj-column(width='60%' padding='10px')
                mj-image(align='left' padding='0' width='256px' src='https://img.mailinblue.com/3403292/images/content_library/original/65eb2771d0c8d6691c4e4e7c.png' href='https://ecosup-assurance.fr' alt='Logo Ecosup Assurance')
            mj-column(width='40%' padding='10px')
                mj-image(align='right' padding='0' width='150px' src='https://img.mailinblue.com/3403292/images/content_library/original/65eb277b6d8c909673de86c1.png' alt='Logo de la Newsletter')
    mj-section(background-color='#EDF2F7' padding='0')        
        mj-column(width='92%')
            mj-social(align='right' inner-padding='0 10px 0 0px' padding='0 10px' icon-size='30px' mode='horizontal')
                mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/65e9a0e8e9b9c597806fa9e9.gif' href='https://www.facebook.com/EcosupAssurance' alt='icon Facebook')
                mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/65e9a0f123605bbe5926c9b7.gif' href='https://www.instagram.com/ecosup.campus/' alt='icon Instagram')
                mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/65e9a0f823605bbe5926c9b9.gif' href='https://linkedin.com/company/ecosup-campus' alt='icon Linkedin')
                mj-social-element(src='https://img.mailinblue.com/3403292/images/content_library/original/660d60657236a3846ef846ba.png' href='https://www.youtube.com/@EcoSupAssurance' alt='icon Youtube')     
    //- Header Phrase et date 
    mj-section(background-color='#EDF2F7' padding='0')
        mj-column(width='92%' padding='10px')
            mj-text(padding='0' align='left' font-size='16px' font-weight='300' line-height='20px' color='#2D3748') #[span(style='font-weight:700;text-transform:uppercase;') news ecosup assurance] | Octobre 2024        
